/* index.css */
@font-face {
    font-family: vhsFont;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

body {
    margin: 0;
    padding: 15px;
    background-color: #ffff00;
    color: #000000;
    font-family: vhsFont;
    font-size: 16px;
}

header {
    text-align: center;
    height: 250px;
    background-color: #0000ff;
}

nav#menucell {
    background-color: rgb(0, 0, 255);
    text-align: center;
    padding: 11px;
    font-size: 16px;
    font-weight: bold;
    /* font-family: vhsFont; */
}

nav#menucell a {
    padding: 20px;
    color: #ffff00;
    text-decoration: none;
}

nav#menucell a:hover {
    color: #00aaff  ;
}

.container {
    /* max-width: 1920px; */
    margin: 0 auto;
    /* font-size: 13px; */
    display: flex;
    align-items: flex-start;
    gap: 40px;
    /* margin-top: 30px; */
}

.container h1 {
    font-size: 30px;
    color: #0000ff;
}

.container p {
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main#maincell {
    text-align: left;
    /* padding: 15px; */
    margin-top: 30px;
    flex: 1;
}

.skills-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0;
}

#contact-info {
    /* width: 250px; */
    padding: 16px;
    margin: 16px;
    /* border-top: 16px solid #ccc; */
    background-color: #0000ff;
    color: #ffff00;
    font-weight: bold;
}

#contact-info h1{
    font-size: 24px;
    color: #ffff00;
}

.project h2{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #0000ff;
}

.project img {
    max-width: 54%;
    border-radius: 10px;
}

.project a {
    font-family: 'Courier New', Courier, monospace;
    font-size:20px; 
    font-weight: bold; 
}


/* PDF-like styling for Film Portfolio page */
/* .pdf-title { font-family: Oswald, sans-serif; font-size: 32px; color:#424242; margin-top:20px; }
.pdf-subtitle { font-family: 'Roboto Condensed', sans-serif; font-size:14px; color:#888; margin-bottom:2px; }
.pdf-section { font-family:'Source Code Pro', monospace; font-size:14px; margin-top:10px; line-height:1.5; font-weight: bold; }
.pdf-h1 { font-family: Oswald, sans-serif; font-size:22px; color:#424242; margin-top:30px; margin-bottom:10px; }
.pdf-h2 { font-family:'Source Code Pro', monospace; font-size:16px; color:#e91d63; margin-top:20px; margin-bottom:5px; }
.pdf-ul { margin-top:5px; margin-bottom:15px; padding-left:20px; }
.pdf-ul li { font-family:'Source Code Pro', monospace; font-size:14px; color:#444; margin-bottom:5px; }
.divider { width:100%; height:4px; background:#000; margin:10px 0 20px 0; } */



/* #banner-container {
    position: relative; 
    display: inline-block;
}

#banner {
    display: block; 
    width: 100%; 
    height: auto;
} */





/* #skills,
#about,
.project,
.overview {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#about {
    margin: 0 auto;
}

.about-text {
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.project {
    margin-bottom: 20px;
}

.project-preview {
    max-width: 100%;
    max-width: 800px;
    max-height: 450px;
    margin-bottom: 15px;
}

.preview iframe,
.preview img {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    /* object-fit: cover;
}*/

/*
.title,
.title2 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
    color: #0754b0;
}

.title2 {
    font-size: 30px;
    margin-top:30px; 
    margin-bottom:10px;
}

.maintext {
    color: #000000;
    padding: 10px;
    text-align: justify;

    font-family:'Source Code Pro', monospace; 
    font-size:14px; 
    margin-top:10px; 
    line-height:1.5; 
    font-weight: bold;
}

.video-link{
    color: #000000;
    font-family:'Source Code Pro', monospace; font-size:20px; margin-top:10px; line-height:1.5; font-weight: bold; 
}

.skills-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
}

.skills-grid div {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: black;
} */